<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let row"> {{row.name | firstLetter: 'normalize'}} </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido </th>
      <td mat-cell *matCellDef="let row"> {{row.surname | firstLetter: 'normalize'}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="course">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Curso</th>
      <td mat-cell *matCellDef="let row"> {{row.course}} </td>
    </ng-container>

    <ng-container matColumnDef="titular">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Titular</th>
      <td mat-cell *matCellDef="let row"> {{row.titular}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado de la cuenta</th>
      <td mat-cell *matCellDef="let row">

        <div *ngIf="row.state" matTooltip="Sin deuda">
          <svg class="icon-svg" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 247.67 213.4">
            <defs>
              <style>
                .cls-1 {
                  fill: #9acd8d;
                }
              </style>
            </defs>
            <path class="cls-1"
              d="M134.89,254.78a16.28,16.28,0,0,1-9.35-2.95l-88.87-62A16.37,16.37,0,1,1,55.42,163l75.44,52.64L247.55,48.38A16.37,16.37,0,1,1,274.4,67.12L148.34,247.77a16.45,16.45,0,0,1-13.45,7Z"
              transform="translate(-29.68 -41.37)" />
          </svg>
        </div>

        <div *ngIf="!row.state" matTooltip="Deudor">
          <svg class="icon-svg" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 126.17 126.17">
            <defs>
              <style>
                .cancel-control {
                  fill: #ef2c06;
                }
              </style>
            </defs>
            <path class="cancel-control"
              d="M87.91,209.55a5.52,5.52,0,0,1,0-7.78L203.09,86.59a5.5,5.5,0,1,1,7.78,7.78L95.69,209.55A5.52,5.52,0,0,1,87.91,209.55Z"
              transform="translate(-86.3 -84.98)" />
            <path class="cancel-control"
              d="M90,207.42a2.49,2.49,0,0,1,0-3.53L205.21,88.72a2.5,2.5,0,1,1,3.53,3.53L93.57,207.42A2.49,2.49,0,0,1,90,207.42Z"
              transform="translate(-86.3 -84.98)" />
            <path class="cancel-control" d="M87.91,94.37a5.5,5.5,0,0,1,7.78-7.78L210.87,201.77a5.5,5.5,0,1,1-7.78,7.78Z"
              transform="translate(-86.3 -84.98)" />
            <path class="cancel-control"
              d="M205.21,207.42,90,92.25a2.5,2.5,0,0,1,3.53-3.53L208.74,203.89a2.5,2.5,0,0,1-3.53,3.53Z"
              transform="translate(-86.3 -84.98)" />
          </svg>
        </div>
      </td>
    </ng-container>



    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Detalle</th>
      <td mat-cell *matCellDef="let index=index; let homework">



      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


</div>