<div class="load-message" *ngIf="addingStudent">
  <div class="load-screen-container">
    <app-load-screen [messageInfo]='messageInfo' [messageInfoClass]="messageInfoClass" (cancel)="cancelRequest()">
    </app-load-screen>

  </div>
</div>

<div class="container-fluid">
  <div id="buttonsTab" class="row mt-4 mb-4">
    <div class="col-4 svg-content">
      <mat-icon class="unset-width" svgIcon="add-student"></mat-icon>
    </div>

    <div class="col-4 text-center">
      <h5>Alta de alumnos</h5>
    </div>

    <div class="col-4 action-buttons">
      <div class="action-item" matTooltip="Buscar Alumnos" (click)="openStudentModelBase()">
        <mat-icon class="option-icon" svgIcon="search"></mat-icon>

      </div>
    </div>
  </div>

  <div class="container" id="studentForm">
    <div id="buttonsTab" class="row mt-4 mb-4">
      <div class="col-6 svg-content">
        <h5>Datos del alumno</h5>
      </div>

      <div class="col-lg-6 col-md-10 col-8 text-center"></div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="currentStudent.name" />
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field>
          <mat-label>Apellido</mat-label>
          <input matInput [(ngModel)]="currentStudent.surname" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">

        <mat-form-field style="width: 40%; padding-right: 15px;">
          <mat-label>Tipo:</mat-label>
          <mat-select>
            <mat-option *ngFor="let type of  typeIDs" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 60%; padding-left: 15px;">
          <mat-label>Numero de documento</mat-label>
          <input matInput [(ngModel)]="currentStudent.document">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field>
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="studentBorn" ng-model="currentStudent.birthday | date : 'yyyy-dd-mm" />
          <mat-datepicker-toggle matSuffix [for]="studentBorn"></mat-datepicker-toggle>
          <mat-datepicker #studentBorn></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">

      <div class="col-12 col-md-6">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="currentStudent.email" />
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field (click)="getAllProvinces()">
          <mat-label>Grado</mat-label>
          <input matInput [(ngModel)]="currentStudent.grade" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field>
          <mat-label>Provincia:</mat-label>
          <mat-select [(ngModel)]="selectedProvince" (selectionChange)="getAllDistricts(selectedProvince)">
            <mat-option *ngFor="let pr of provinces" [value]="pr.id">
              {{pr.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field>
          <mat-label>Provincia:</mat-label>
          <mat-select>
            <mat-option *ngFor="let district of districts" [value]="district.id">
              {{district.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field>
          <mat-label>Direccion</mat-label>
          <input matInput [(ngModel)]="currentStudent.adress.street" #adressInput [matAutocomplete]='auto'
            (keyup)="getNormalizedDirections(adressInput.value)" />
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let normalizedDirection of normalizedDirections" [value]="normalizedDirection.direccion">
            {{normalizedDirection.direccion}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
  </div>

  <div class="container" id="firstParentForm">
    <div id="buttonsTab" class="row mt-4 mb-4">
      <div class="col-6 svg-content">
        <h5>Datos de los padres</h5>
      </div>

      <div class="col-lg-6 col-md-10 col-8 text-center action-buttons">
        <div class="action-item" matTooltip="Agregar padre" (click)="addParent()">
          <mat-icon class="option-icon" svgIcon="plus"></mat-icon>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="currentStudent.parent.name" />
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field>
          <mat-label>Apellido</mat-label>
          <input matInput [(ngModel)]="currentStudent.parent.surname" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field style="width: 40%; padding-right: 15px;">
          <mat-label>Tipo:</mat-label>
          <mat-select>
            <mat-option *ngFor="let type of  typeIDs" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 60%; padding-left: 15px;">
          <mat-label>Numero de documento</mat-label>
          <input matInput [(ngModel)]="currentStudent.parent.document">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field>
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="parentBorn" ng-model="currentStudent.parent.birthday | date: 'yyyy/dd/mm'" />
          <mat-datepicker-toggle matSuffix [for]="parentBorn"></mat-datepicker-toggle>
          <mat-datepicker #parentBorn></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field>
          <mat-label>Direccion</mat-label>
          <input matInput [(ngModel)]="currentStudent.parent.adress.street" />
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field>
          <mat-label>Numero de telefono</mat-label>
          <input matInput [(ngModel)]="currentStudent.parent.cellPhone" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="currentStudent.parent.email" />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="justify-content: space-evenly">
      <button type="button" style="background-color: #9acd8d" class="btn btn-primary" (click)="addStudent()">
        Aceptar
      </button>
      <button type="button" style="background-color: red" class="btn btn-primary" (click)="cancelAdd()">
        Cancelar
      </button>
    </div>
  </div>
</div>