<div class="comment-container" >
  <div class="comment-item no-comments" *ngIf="group.comments.length==0" >
    <span style="margin-bottom: 1em; font-weight: bold;">Sin comentarios</span>
  </div>
  <div *ngFor="let comment of group.comments; let commentIndex=index" class="comment-item" #commentItem>

    <div class="col-2 comment-avatar">
      <div class="user-avatar">{{comment.sender | firstLetter: 'first'}}</div>
    </div>

    <div class="col-10 comment-content">
      <div class="row" id="comment-body">
        <span class="comment-head"><b>{{comment.sender}}</b> {{comment.date | date : 'medium'}}</span>
        <span>{{comment.content}}</span>
      </div>

      <div class="row mt-2">
        <span class="comment-option" (click)="confirmEdit(commentItem,comment,commentIndex)">Editar</span>
        <p style="font-size: 1em;">•</p>
        <span class="comment-option" (click)="confirmDelete(commentIndex)">Eliminar</span>


      </div>

    </div>

  </div>


</div>

<div class="row mb-4" style="width: 100%; margin: 0;">
  <form class="example-form" style="width: 100%;">

    <mat-form-field class="example-full-width" style="width: 100%;">
      <mat-label><b>Comentario</b></mat-label>
      <textarea style="width: 100%;" matInput placeholder="Agregue comentario..." #commentInput
        (keyup.enter)="addComment(currentIndex,commentInput.value); commentInput.value='';addHistory(currentIndex,'agrego un comentario')"
        ></textarea>
    </mat-form-field>
  </form>
</div>