
<div class="container">
  <div class="row text-center">
    <!--TODO hacer mas generico esto-->
    <div [ngClass]="firstDashboard">
    <!-- <div class="col-lg-6 col-12 mb-4 no-guttered"> -->
        <mat-card class="dashboard">
            <app-dashboard-vertical [dashBoardProperties]="dashBoardsProperties[2]"></app-dashboard-vertical>
          </mat-card>
    </div>
    <div [ngClass]="secondDashboard">
    <!-- <div class="col-lg-6 col-12 mb-4 no-guttered"> -->
        <mat-card class="dashboard">
            <app-dashboard-chart [dashBoardProperties]="dashBoardsProperties[0]"></app-dashboard-chart>
          </mat-card>
    </div>
</div>    
    <div [ngClass]="thirdDashboard">
    <!-- <div class="row text-center mb-4"> -->
       <div class="col-12 no-guttered">
        <mat-card class="dashboard">
            <app-dashboard-chart-advance [dashBoardProperties]="dashBoardsProperties[3]"></app-dashboard-chart-advance>
          </mat-card>    
       </div>
    </div>
  
    
  
</div>



