.dashboard
{
    height:220px;
    width: 98%;
    min-width: 217px;
    margin-top: 10px;
  }
.dashboard-big{
  height:320px;
  width: 98%;
  min-width: 217px;
}

 .icon-card{
    background-color: #f75151;
    width: 55px;
    margin-left: 90%;
    margin-top: -132px;
    padding-top: 9px!important;
    padding-bottom: 9px!important;
    height: 43px;
  }