<div class="container">
  <div class="row mb-2 mt-2">
    <div class="col-12">
      <h5 *ngIf="existData">
        <img width="20px" src="./assets/images/modify.svg" alt="">

        {{'Modificando tarea de: '+localData.homework.name}}
      </h5>
      <h5 *ngIf="!existData">
        <img width="20px" src="./assets/images/plus.svg" alt="">

        {{data}}
      </h5>

    </div>



  </div>
  <div class="row">
    <div class="col-12">


      

      <form >

        <div class="row no-gutters form-group">
          
          <div class="col-md-6 col-12 form-group">
            <mat-form-field class="example-full-width">
            <mat-label>Nombre de la tarea</mat-label>
            <input matInput placeholder="Ingrese el nombre de la tarea..." 
            [(ngModel)]="currentHomework.name" #code required
            [ngModelOptions]="{standalone:true}">
          </mat-form-field>
          </div>
         
          <div class="col-md-6 col-12 form-group">
            <mat-form-field>
              <mat-label>Fecha de entrega</mat-label>
              <input [(ngModel)]="currentHomework.deliveryDate" name="deliveryDate" matInput [matDatepicker]="picker" [ngModelOptions]="{standalone:true}">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>


        </div>



        <div class="row ">

          <div class="col-12">
            <mat-form-field class="example-full-width">
            <mat-label>Descripcion de la tarea</mat-label>
             <textarea matInput type="text"  id="description" class="form-control"
              placeholder="Ingrese descripcion..." [(ngModel)]="currentHomework.description" [ngModelOptions]="{standalone:true}" #description
              required></textarea>
             </mat-form-field>
          </div>

           






        </div>

        <div class="row form-group">
          <div class="col-md-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Curso</mat-label>
              <mat-select [(ngModel)]="currentHomework.course" [ngModelOptions]="{standalone:true}">
                <mat-option *ngFor="let course of courses" [value]="course">
                  {{course}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-12 form-group">
              <mat-form-field appearance="fill">
                <mat-label>Materia</mat-label>
                <mat-select [(ngModel)]="currentHomework.matter" [ngModelOptions]="{standalone:true}">
                  <mat-option *ngFor="let matter of matters" [value]="matter">
                    {{matter}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>



        </div>




        <!-- <div class="row" *ngIf="existData==true">
        <div class="col-12">
          <button class="btn btn-primary btn-block" (click)="modifyGrade()">Modificar Nota</button>
        </div>
      </div> -->

        <div class="row">
          <div class="col-12" *ngIf="!existData">
            <div class="row">
               <div class="col-6">

              <button class="btn btn-primary btn-block" (click)="addHomework()" style="width: 95%;">Añadir Tarea</button>
            </div>
            <div class="col-6">

              <button class="btn btn-primary btn-block" (click)="onClose()" style="width: 95%; background-color: rgb(223, 72, 72);">Cancelar</button>
            </div>
            </div>
           
          </div>

          <div class="col-12" *ngIf="existData">
            <div class="row">
              <div class="col-6">

                <button class="btn btn-primary btn-block" (click)="modifyHomework()" style="width: 95%;">Modificar Tarea</button>
              </div>
              <div class="col-6">

                <button class="btn btn-primary btn-block" (click)="onClose()" style="width: 95%; background-color: rgb(223, 72, 72);">Cancelar</button>
              </div>
            </div>
          </div>
        </div>



      </form>

    </div>
  </div>
</div>