
<app-load-screen 
*ngIf="loadScreen"
[messageInfo]="messageInfo"
[messageInfoClass]='messageInfoClass'
></app-load-screen>

<div class="div" *ngIf="!loadScreen">
  <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>



<div class="mat-elevation-z8" >
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="student">
      <th id="column1" mat-header-cell *matHeaderCellDef mat-sort-header>Alumno</th>
      <td mat-cell *matCellDef="let row"> {{row.student}} </td>
    </ng-container>



    <!-- Name Column -->
    <ng-container matColumnDef="description">
      <th id="column3" mat-header-cell *matHeaderCellDef mat-sort-header>Descripción Nota</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="matter">
      <th id="column4" mat-header-cell *matHeaderCellDef mat-sort-header>Materia</th>
      <td mat-cell *matCellDef="let row"> {{row.subject}} </td>
    </ng-container>

    <ng-container matColumnDef="grade">
      <th id="column5" mat-header-cell *matHeaderCellDef mat-sort-header>Nota</th>
      <td mat-cell *matCellDef="let row; let in=index"> {{row.number}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th id="column6" mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
      <td mat-cell *matCellDef="let index=index; let grade">
        <button matTooltip="Modificar" class="button-action" (click)="openModify(grade)">

          <img width="20px" src="./assets/images/edit.svg" alt="" >
        </button>
        <button matTooltip="Eliminar" class="button-action" (click)="confirmDelete(index)">

          <img width="15px" src="./assets/images/trash.svg" alt="">
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</div>
