<mat-grid-list cols="7" rowHeight="7:2" id="tableHead">
  <mat-grid-tile class="days">LUN</mat-grid-tile>
  <mat-grid-tile class="days">MAR</mat-grid-tile> 
  <mat-grid-tile class="days">MIÉ</mat-grid-tile>
  <mat-grid-tile class="days">JUE</mat-grid-tile>
  <mat-grid-tile class="days">VIE</mat-grid-tile>
  <mat-grid-tile class="days">SAB</mat-grid-tile>
  <mat-grid-tile class="days">DOM</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="7" rowHeight="7:6">
  <mat-grid-tile class="day">LUN</mat-grid-tile>
  <mat-grid-tile class="day">MAR</mat-grid-tile>
  <mat-grid-tile class="day">MIÉ</mat-grid-tile>
  <mat-grid-tile class="day">JUE</mat-grid-tile>
  <mat-grid-tile class="day">VIE</mat-grid-tile>
  <mat-grid-tile class="day">SAB</mat-grid-tile>
  <mat-grid-tile class="day">DOM</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="7" rowHeight="7:6">
  <mat-grid-tile class="day">LUN</mat-grid-tile>
  <mat-grid-tile class="day">MAR</mat-grid-tile>
  <mat-grid-tile class="day">MIÉ</mat-grid-tile>
  <mat-grid-tile class="day">JUE</mat-grid-tile>
  <mat-grid-tile class="day">VIE</mat-grid-tile>
  <mat-grid-tile class="day">SAB</mat-grid-tile>
  <mat-grid-tile class="day">DOM</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="7" rowHeight="7:6">
  <mat-grid-tile class="day">
    <span>1</span>
  </mat-grid-tile>
  <mat-grid-tile class="day">
    <span>1</span>
  </mat-grid-tile>
  <mat-grid-tile class="day">
    <span>1</span>
  </mat-grid-tile>
  <mat-grid-tile class="day">
    <span>1</span>
  </mat-grid-tile>
  <mat-grid-tile class="day">
    <span>1</span>
  </mat-grid-tile>
  <mat-grid-tile class="day">
    <span>1</span>
  </mat-grid-tile>
  <mat-grid-tile class="day">
    <span>1</span>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="7" rowHeight="7:6">
  <mat-grid-tile class="day">LUN</mat-grid-tile>
  <mat-grid-tile class="day">MAR</mat-grid-tile>
  <mat-grid-tile class="day">MIÉ</mat-grid-tile>
  <mat-grid-tile class="day">JUE</mat-grid-tile>
  <mat-grid-tile class="day">VIE</mat-grid-tile>
  <mat-grid-tile class="day">SAB</mat-grid-tile>
  <mat-grid-tile class="day">DOM</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="7" rowHeight="7:6">
  <mat-grid-tile class="day">LUN</mat-grid-tile>
  <mat-grid-tile class="day">MAR</mat-grid-tile>
  <mat-grid-tile class="day">MIÉ</mat-grid-tile>
  <mat-grid-tile class="day">JUE</mat-grid-tile>
  <mat-grid-tile class="day">VIE</mat-grid-tile>
  <mat-grid-tile class="day">SAB</mat-grid-tile>
  <mat-grid-tile class="day">DOM</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="7" rowHeight="7:6">
  <mat-grid-tile class="day">LUN</mat-grid-tile>
  <mat-grid-tile class="day">MAR</mat-grid-tile>
  <mat-grid-tile class="day">MIÉ</mat-grid-tile>
  <mat-grid-tile class="day">JUE</mat-grid-tile>
  <mat-grid-tile class="day">VIE</mat-grid-tile>
  <mat-grid-tile class="day">SAB</mat-grid-tile>
  <mat-grid-tile class="day">DOM</mat-grid-tile>
</mat-grid-list>
