@import '../../../stylings/color-pallete';

#monthNumber
{
    font-size: 2em;
}
#monthLegend{
font-size: 1.5em;
}
#yearLegend{
    font-size: 2em;
}

.prev-month, .next-month{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0;
    outline: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $green;
    color: $custom-blue-glass;
}


      
      .wrapper-calendar{
        
        padding: .5rem;
        border: solid 1px #eaeaea;
        box-shadow: 0 0 10px #e4e4e4;
        width: 100%;
        background-color: rgba(245, 245, 245, 0.76);
        border-radius: 0.6rem;
      }
      
      div {
          text-align: center;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
            Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        }
        
        ol {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: 30px repeat(6, 13vh);
          margin: 0;
          padding: 0;
        }
        
        li {
          display: flex;
          padding: .25rem;
          font-size: 1.5ch;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          overflow-x: hidden;
          
        }
        li  span
        {
            width: 100%;
            height: fit-content;
            background-color: transparent;
            transition: 0.5s ease-in-out;
        }
        li::-webkit-scrollbar{
            display: none;
        }
        li:hover span{
            
            transform: scale(1.1);
            font-weight: bold;
        }
        li:hover{
        background-color: rgba(0, 0, 0, 0.13);
        }
        h2 {
          margin-bottom: 4px;
          padding: 0;
        }
        
        .first-day {
          grid-column-start: var(--first-day-start, 0);
        }
        
        .day-name {
          background: $custom-blue-glass;
          color: whitesmoke;
          font-weight: bold;
          font-size: 12px;
          margin-bottom: 2px;
          padding: 4px;
          text-align: center;
          height: fit-content;
          justify-content: center;
        }

        .day-name:hover{
            background-color: $custom-blue;
        }
        
        .header-calendar {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          align-content: center;
          margin-bottom: 0.5em;
        }
        
        .header-calendar h1 {
          width: 100%;
          font-size: 13px;
        }
        
        .grid-days{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        

        .event-chip{
            display: flex;
            align-items: center;
            text-align: start;
            width: 100%;
            min-height: 25px;
            padding-left: 10px;
            border-radius: 12px;
            background-color: $message-3;
            margin: 0.2em;
            word-break: break-all !important;
            text-overflow: ellipsis !important;
            font-size: calc(0.5em + 0.5vw);
            overflow: hidden;
            font-weight: bolder;
            transition:0.5s ease-in-out;
            box-shadow: 0px 4px 13px -8px black;

        }

        .event-chip:hover
        {
            background-color: #f2c84b
        }


        .thisDay{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: $custom-blue-glass !important;
            color: whitesmoke;
            font-weight: bold;
            width: 30px !important;
            height: 30px !important;
            border-radius: 50% !important;
        }


