
<div class="row month">
  <button [matTooltip]="getPrevMonth()" class="next-month" (click)="prevMonth()"><mat-icon class="option-icon" svgIcon="leftSvg"></mat-icon></button>
  <span id="monthNumber">5</span>
  <span id="monthLegend">MAYO</span> 
  <span id="yearLegend">2021</span>
  <button [matTooltip]="getNextMonth()" class="prev-month" (click)="nextMonth()"><mat-icon class="option-icon" svgIcon="rightSvg"></mat-icon>
  </button>
</div>
<div class="row header">
  <div class="column-header">
    DOM
  </div>
  <div class="column-header">
    LUN
  </div>
  <div class="column-header">
    MAR
  </div>
  <div class="column-header">
    MIÉ
  </div>
  <div class="column-header">
    JUE
  </div>
  <div class="column-header">
    VIE
  </div>
  <div class="column-header">
    SAB
  </div>
 
    
</div>

<div *ngFor="let week of weeks;let index=index" class="row week" [id]="'week'+(index+1)">
  <div *ngFor="let day of week" class="day" [id]="day" #day>
    <div class="number-day">
      <span [id]="'number'+day">10</span>
    </div>
  </div>
</div>