::ng-deep .container-vertical .chart-legend .legend-labels{
    width: 165%!important;
}
.icon-card-attendance{
    background-color: #3c3cbae0;
    width: 55px;
    margin-left: 94%;
    margin-top: -78px;
    padding-top: 9px!important;
    padding-bottom: 9px!important;
    height: 43px;
}

.icon{
    color: white;
    font-size: 1.5vw;  
}