<div class="container-vertical">
    <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    legendTitle= "Grados"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
  <mat-card [ngClass]="dashBoardProperties.getClassIcon()">
    <i class="fa fa-calendar-check-o icon" aria-hidden="true"></i>
</mat-card>  
</div>