@import "../../../stylings/color-pallete.scss";

::ng-deep .mat-dialog-container
{
    border: 2px solid $green;
    padding: 0 !important;
    overflow-x: hidden;
}

.cancelButton{
    background-color: rgba(175, 26, 26, 0.651);
    margin-right: 1em;
}


.confirmButton
{
    background-color: $green;
}

p{
    margin-top: 24px;
}