<div class="container no-gutters">
  <div class="row">
    <div class="col-8">
      <div class="row mb-4" id="group-info">
        <div class="col-12">
          <div class="row" class="title-row">
            <div class="col-8">
              <h3>{{group.name}}</h3>
            </div>
            <div class="col-4">
              <mat-select [value]="group.state">

                <mat-option value="TO_DO">
                  <mat-icon svgIcon="to-do"></mat-icon>
                  Por Hacer
                </mat-option>
                <mat-option value="IN_PROGRESS">
                  <mat-icon svgIcon="in-time"></mat-icon>
                  En Progreso
                </mat-option>
                <mat-option value="DONE">
                  <mat-icon svgIcon="realized"></mat-icon>
                  Finalizado
                </mat-option>
                <mat-option value="OVERCOME">
                  <mat-icon svgIcon="over-time"></mat-icon>
                  Vencido
                </mat-option>



              </mat-select>
            </div>

          </div>
          <div class="row">
            <div class="col-6"
              style="display: flex; justify-content: flex-start; align-items: center; text-align: start;">
              <button mat-button class="attach-button">

                <img width="20px" src="./assets/images/clip.svg" alt=""> Adjuntar
              </button>
            </div>
            <div class="col-6">
              <span>Fecha de inicio: {{group.startDate | date: 'shortDate'}}</span>
              <br>
              <span>Fecha de entrega: {{group.startDate | date: 'shortDate'}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4" id="gruop-slogans">
        <form class="example-form" style="width: 100%;">

          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label><b>Consigna</b></mat-label>
            <textarea style="width: 100%;" matInput placeholder="Ingrese consigna..."></textarea>
          </mat-form-field>
        </form>

      </div>

      <div class="row mb-4">


        <div class="row mb-2" style="display: flex; flex-direction: column;">
          <label for="activity"><b>Actividad</b></label>
          <div name="activity">
            Viendo: <span class="view-type">Comentarios</span>
          </div>
        </div>

        <div class="row" style="display: flex; flex-direction: row; width: 100%;">
          <div class="comment-container">
            <div *ngFor="let comment of group.comments" class="comment-item">

              <div class="col-2 comment-avatar">
                <div class="user-avatar">N</div>
              </div>

              <div class="col-10 comment-content">
                <div class="row" id="comment-body">
                  <span class="comment-head"><b>{{comment.sender}}</b> {{comment.date | date : 'medium'}}</span>
                  <span>{{comment.content}}</span>
                </div>

                <div class="row mt-2">
                  <span class="comment-option">Editar</span>
                  <p style="font-size: 1em;">•</p>
                  <span class="comment-option">Eliminar</span>


                </div>

              </div>

            </div>


          </div>


        </div>



      </div>

      <div class="row mb-4">
        <form class="example-form" style="width: 100%;">

          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label><b>Comentario</b></mat-label>
            <textarea style="width: 100%;" matInput placeholder="Agregue comentario" #commentInput
              (keyup.enter)="addComment(currentIndex,commentInput.value); commentInput.value='';addHistory(currentIndex,'agrego un comentario')"></textarea>
          </mat-form-field>
        </form>
      </div>
    </div>

    <div class="col-4" >
      <div class="row" class="history-content">
        <span class="view-type">Historial</span> 
        <div class="history-container">
          <div *ngFor="let history of group.history" class="history-item">
            <div class="user-avatar" style="margin-right: 1em; width: 30px; height: 30px;">N</div> <span>{{history.sender}} <b>{{history.content}}</b> {{history.date | date : "medium"}}</span>
          </div>
        </div>
      </div>
     

    </div>
  </div>