<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input >
</mat-form-field> -->

<div class="chat-container" #chatContainer >

  <div class="chat-options">

    <button class="button-menu close-chat" (click)="closeChat();" style="margin-left: 2em;" [ngClass]="{'button-animate': chatOpen}">
      <img  width="15px" src="./assets/images/cancel.svg"  alt="">

    </button>

    

    <button class="button-menu search-chat" #buttonSearch  [ngClass]="{'button-animate': chatOpen}">
      

      <img *ngIf="!openSearch"  width="15px" style="margin-left: 0.6em;" src="./assets/images/search.svg"  alt="" (click)="viewInputSearch()">
      <img *ngIf="openSearch"  width="15px" style="margin-left: 0.6em;" src="./assets/images/cancel.svg"  alt="" (click)="viewInputSearch()">

      

      <input type="text" style="margin-left:1em; margin-right: 1em;" #searchInput (keyup.enter)="testChat(searchInput)">
      
      <!-- <button (click)="hideInputSearch()">
        <img  width="15px" src="./assets/images/cancel.svg"  alt=""  >

      </button> -->


    </button>
    <button class="button-menu close-chat" [ngClass]="{'button-animate': chatOpen}" (click)="searchWord(searchInput.value)">
      <img  width="15px" src="./assets/images/edit.svg"  alt="">

    </button>
    
    <button class="button-menu close-chat" (click)="closeChat();" [ngClass]="{'button-animate': chatOpen}">
      <img  width="15px" src="./assets/images/option.svg"  alt="">

    </button>

  </div>

  <div class="sender-info">
    <div class="user-avatar" [style.backgroundColor]="getColor(index)"  #userAvatar>
      <p>P</p>
    </div>
    <p>Profesor Gerardo</p>
  </div>

  <div class="chat-content" #chatContent (click)="viewScroll()" (scroll)="showScroll()">

    <button class="goBottom" (click)="goBottom()"  #buttonBottom>
      <img  width="30px" src="./assets/images/option.svg"  alt="">
    </button>

    <div class="chat-module sender" >
      <div class="chat-item multiple left-align">
          <p>Hola como estas todo bien aca viendo que comer</p>
        </div>
        <div class="chat-item multiple left-align">
          <p>aburrido</p>
        </div>
        <div class="chat-item multiple left-align">
          <p>Con <mark>ganas</mark> de salir</p>
        </div>
        </div>

    

    <div *ngFor="let chat of chatModules" class="chat-module" [ngClass]="{'autor': chat.autor=='autor', 'sender': chat.autor=='receiver' }">
      
      <div *ngFor="let message of chat.messages;" class="chat-item" [ngClass]="{'multiple': chat.messages.length>=2,'left-align': chat.autor=='receiver', 'right-align': chat.autor=='autor', 'wrong-send' : !message.success}">

        <p style="margin-right: 0.5em;">{{message.content}}</p>
        <!-- <p style="color:black"> {{chat.messages[chat.messages.length-1].date  | date: 'hh:mm a'}}</p> -->
        <div class="error-pin" *ngIf="!message.success">

          <button class="no-button" mat-raised-button
          matTooltip="Error de envio"
          [matTooltipPosition]='position' (mouseenter)="trueShake()" (mouseleave)="noShake()" [ngClass]="{'shakeThePin': shake}"
         >
        <img  width="10px" src="./assets/images/cancel.svg"  alt="">
        </button>

        </div>

      </div>

      

      <!-- <div class="send-date">
        {{chat.messages[chat.messages.length-1].date  | date: 'h:mm:ss a'}}
      </div> -->

    </div>


  </div>


  <div class="chat-input">
    <div class="container" style="align-items: center;">
     <div class="row">
      <div class="col-10 text-center" >
        <textarea type="text" class="input-message" #chatInputContent (keyup.enter)="sendButton.click()"></textarea>

      </div>
      <div class="col-2 send-button-container">

        <div class="send-button example-ripple-container mat-elevation-z4" #sendButton
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"  (click)="addChatMessage(chatInputContent,'autor')">
        
            <img style="transform: rotate(-90deg);"  width="30px" src="./assets/images/option.svg"  alt="">
        </div>
   
      </div>
    </div> 
    </div>
    
  </div>
    
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <mat-accordion>
       <ng-container matColumnDef="message">

      <th  (click)="showType()" id="column1" class="message-header" mat-header-cell *matHeaderCellDef mat-sort-header class="text-center" style="font-size: 16px; color:black; justify-content: center;">
        <img *ngIf="currentTab=='Mensajes'; else Notifications"  width="35px" src="./assets/images/letter.svg" alt="">

        <ng-template #Notifications>
          <img  width="35px" src="./assets/images/notify.svg" alt="">
        </ng-template>

        Listado de {{currentTab}}
      </th>

      
      <td mat-cell *matCellDef="let row; let index=index">

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
                               

            <mat-expansion-panel-header (click)="setColor(index)" (keyup.enter)="setColor(index)" >
              <mat-panel-title>
                <div class="user-avatar" [style.backgroundColor]="getColor(index)"  #userAvatar>
                  <!-- <img  width="20px" src="./assets/images/save.svg" alt=""> -->
                  <p>{{row.sender | firstLetter: 'first'}}</p>
                </div>
                {{row.sender}}
              </mat-panel-title>
              
              <mat-panel-description>
               {{row.date | date: 'MMM d'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{row.content}}</p>
            <button mat-button class="chat-button" (click)="openChat(); chatInputContent.focus()">Abrir chat</button>

          </mat-expansion-panel>
        
        </td>
    </ng-container>
    
    </mat-accordion>
   


 


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5]" [pageSize]="5" [length]="200"
  ></mat-paginator>

  
  

</div>
