@import '../../../../stylings/color-pallete';


::ng-deep .mat-panel-description{
    text-align: end;
}

.mat-expansion-panel-header-description {
    flex-grow: 0;
}

.mat-expansion-panel-header-title{
    align-items: center;
}

td{
    border: 0;
}
table{
    margin: 0%;
}

.mat-expansion-panel-header{
    height: 80px;
}

::ng-deep .mat-content{
    align-items: center !important;
    width: 80px;
}

:root {
    --background-header: blue;
  }

.user-avatar:nth-child(1n)
{
    $random-color: random(5);

    background-color: nth($list,1)

}
::ng-deep .mat-expansion-panel-header.mat-expanded
{
    background-color: var(--background-header) !important;
    box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.4);
    color: white;
}

::ng-deep .mat-expansion-panel-content
{ 
    visibility: visible !important;
    min-height: 45px;
    -webkit-box-shadow: inset 0px -8px 4px -3px rgb(255, 255, 255);
    -moz-box-shadow: inset 0px -8px 4px -3px rgba(255,255,255,0.75);
    box-shadow: inset 0px -8px 4px -3px rgba(255,255,255,0.75);

}

::ng-deep .mat-expansion-panel-body {
    padding: 24px 24px 16px !important;
  
}
.user-avatar
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    $random-color: random(5);
    width: 45px;
    height: 45px;
    background-color: nth($list,$random-color);
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.568);
    
}

.user-avatar p{
    margin: 0 !important;
    color: white;
    font-size: 1.5em;
    text-shadow: 0px 0px 3px black;
}

