@import "../../../stylings/color-pallete.scss";
.svg-content svg {
  width: 40px;
  margin-left: 1em;
}

.svg-content {
  cursor: pointer;
}

#toPdf {
  background-color: blue !important;
}

.pdf-content {
  width: 21cm;
  height: 29.7cm;
  margin: 1cm auto;
  background-color: blue;
}

@media screen and (max-width: 800px) {
  .pdf-content {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 600px) {
  .pdf-content {
    transform: scale(0.6);
  }
}

@page {
  size: A4;
  margin: 0;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.action-item {
  width: 50px;
  height: 50px;
  padding: 0.5em;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.action-item:hover {
  background-color: $custom-blue-glass;
}
