
//Blue colors
$blue-A: #173045;
$blue-B: #4791D1;
$blue-C: #2D5C84;
$blue-D: #316591;
$blue-E: #244A6B;

$custom-blue:#2d5c84;

//Aditional Colors

$gray-1: #eff1f1;
$gray-2:#cbcbcb;
$gray-3: #bfbfbf;
$blue-gray-1: #9bb1c4;
$blue-gray-2:#7c9cb4;
$blue-gray-3: #8c9ba9;

$green:#9acd8d;
 


