
//Blue colors
$blue-A: #173045;
$blue-B: #4791D1;
$blue-C: #2D5C84;
$blue-D: #316591;
$blue-E: #244A6B;

$custom-blue:#2d5c84;
$custom-blue-glass: #2d5b84cb;


//Aditional Colors

$gray-1: #eff1f1;
$gray-2:#cbcbcb;
$gray-3: #bfbfbf;
$blue-gray-1: #9bb1c4;
$blue-gray-2:#7c9cb4;
$blue-gray-3: #8c9ba9;

$green:#9acd8dc5;
$green-opaque:#9acd8d;

$error:#f24e29;
$succes: #14a647;
$normal:#244a6b;
//Message pallete

$message-1:#049dd975;
$message-2:#14a6479c;
$message-3:#f2c84b7c;
$message-4:#f24e2975;
$message-5:#f2b9b37e;

$list: $message-1,$message-2,$message-3,$message-4,$message-5,




 


