@import '../../../stylings/color-pallete.scss';

#gradesMenu
{
   
    background-color:$custom-blue-glass;
    padding: 0.4em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    box-shadow: 6px 6px 12px 3px rgba(0, 0, 0, 0.247);
    color: white;
    height: 60px;
}

#gradesMenu h5{
margin: 0;
}

.button-menu{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 1em;
}

#search-icon,#edit-icon,#trash-icon,#add-icon
{
    position: relative;
    margin-left: 1em;
    margin-right: 1em;

}

#search-icon:before,#edit-icon:before,#trash-icon:before,#add-icon:before
{
  position: absolute;
 
  content: "Buscar";
  bottom: -5px;
  left: 10px;
  margin: auto;
  opacity: 0;
  color: white;
  margin:auto;
  transition: 0.5s ease-in-out;
  font-size: 0.8em;
  
}
#edit-icon:before
{
    content: "Editar";
}
#trash-icon:before
{
    content: "Eliminar";
    left: 0px;

}
#add-icon:before
{
    content: "Añadir";
}
#search-icon:hover::before,#edit-icon:hover::before,#trash-icon:hover::before,#add-icon:hover::before
{
    opacity: 1;

}

#search-icon img,#edit-icon img,#trash-icon img,#add-icon img
{
    transition: 0.5s ease-in-out;
    
    
}

#search-icon:hover img,#edit-icon:hover img,#add-icon:hover img{
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.473))
}



#trash-icon:hover img{
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 2px rgba(255, 0, 0, 1)) hue-rotate(247 deg);
    -webkit-filter:  drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.473) ) hue-rotate(247deg) saturate(6);

    
}


