.container{
    display: center;
    margin-top: -20px;
}
.container svg{
    height: 100px!important;
}
.icon-card-homework{
    background-color: #e8e81cb8;
    width: 55px;
    margin-left: 90%;
    margin-top: -132px;
    padding-top: 9px!important;
    padding-bottom: 9px!important;
    height: 43px;
}
.icon{
    color: white;
    font-size: 1.5vw;
}
