@import '../../../../stylings/color-pallete.scss';
table
{
    width: 100%;
    padding: 0.6em;
   
}

.table-content{
    max-height: 500px;;
    height:  500px;
    overflow-y: scroll;
}

.table-content::-webkit-scrollbar-thumb
{
    border-radius: 12px;
}



table tr
{
    padding: 0.6em;
    height: 50px;
    border-bottom: 1px solid gray;
    
}



tr{
    width: 33%;
}

p
{
margin-left: 0.5em;   
}
.nameHeader{
    padding: 1em;
    background-color: $custom-blue;
    color: white;
    border-radius: 5px 5px 0 0 ;
    
}
.nameHeader:last-child{
    background-color: $gray-1;
    color: black;
}
input{
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 1px solid $green;
    background-color: transparent;

    width: 70%;
    transition: 0.5s ease-in-out;
}

input:disabled{
    border: none;
}

input:focus{
    border-bottom: 2px solid $custom-blue;
}

input:nth-child(2n){
    width: 100%;
}

button{
    appearance: none;
    border-radius: 15px;
    border: none;
    padding: 0.6em;
    width: 100px;
    transition: 0.5s ease-in-out;
    text-decoration: none;
    outline: none;
}

button:focus
{
    appearance: none;
    border: 0;
    text-decoration: none;
}



.confirmButton
{
    background-color: $green;
}

.cancelButton{
    background-color: rgba(228, 59, 59, 0.788);
}

.contentBox{
    position: absolute;
    right: 2em;
    top:0;      
    width: 50%;
    height:90px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabContainer{
    position: fixed;
    top: -1em;
    margin-left: 16em;
    z-index: -999999;
    margin-top: 1.2em;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 12em;
}

.liTab{
    display: inline;
    width: 33%;
    height: 3em;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top:0.4em;
    top: 3em;
    background-color: $custom-blue;
    color: white;
    border-radius: 0.5em 0.5em 0 0 ;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border: 3px solid white;  
}
.liTab:disabled{
    filter: grayscale(3);
    transform: translateY(15px);
    color: $custom-blue;
    cursor: default;
}

.liTab:disabled:hover{
    filter: grayscale(3);
}

.liTab:hover{
    filter: saturate(3);
}

.selectedLi{
    background-color: #fff;
    color: black;
    transition: 0.5s ease-in-out;
    transform: translateY(-3px);    

}

.activeLi
{
    filter: grayscale(0);
}

