

<div >
  <div class="container-fluid">

    <div id="buttonsTab" class="row mt-4 mb-4">
      <div class="col-lg-6 col-md-2 col-8">
        <h5>Asistencia</h5>
     
    
      </div>
    
      <div class="col-lg-6 col-md-10 col-4 text-center">
      
      </div>
    </div>

    
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
<mat-tab label="Asistencia">

        <app-asistance-list #appList></app-asistance-list>
  
</mat-tab>

</mat-tab-group>

</div>


</div>

