<mat-drawer-container [ngClass]="clasMenu" autosize class="h-100">

  
    <mat-drawer #drawer class="menu-nav" [ngClass]="sidenavClass" mode="side" >

      <div class="row mb-4 px-2 home-button ">
        <div class="col-12">
          <div>
            <img class="image-fluid pa" src="./assets/images/logo.svg" alt="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 container-icon">

          <i class="fa fa-user-circle-o user" aria-hidden="true"></i>
          <p>Marta Lopez</p>
          <mat-slide-toggle color='primary'
          (click)="changeVisibilityMenu()" >Fijo</mat-slide-toggle>
        </div>
      </div>
      <mat-list>
        <mat-list-item class="transparent-background"><button class="button-menu" mat-button color (click)="changeBlock('course')">
            <i class="fa fa-users menu-icon" aria-hidden="true"></i>Cursos</button></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><button class="button-menu" mat-button color>
            <i class="fa fa-file-text menu-icon" aria-hidden="true"></i>Tareas</button></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><button class="button-menu" mat-button color>
            <i class="fa fa-line-chart menu-icon" aria-hidden="true"></i>Notas</button></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><button class="button-menu" mat-button color>
            <i class="fa fa-line-chart menu-icon" aria-hidden="true"></i>Boletin</button></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><button class="button-menu" mat-button color>
            <i class="fa fa-line-chart menu-icon" aria-hidden="true"></i>Presentes</button></mat-list-item>
      
      </mat-list>
    </mat-drawer>
  
    <div class="sidenav-content" >
      <div class="container">
        <div class="row">
          <div class="col-1" #showButton> <button type="button"  mat-button (click)="showMenu()">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button></div>
          <!-- <div [ngClass]="dinamicDisplay" (mouseover)="hideNotificaction()" (mouseover)="changeClassMenu()">
            <app-home></app-home>
          </div> -->

          <div [ngClass]="dinamicDisplay" (mouseover)="hideNotificaction()" (mouseover)="changeClassMenu()" [ngSwitch]="blockDinamicActually">  
            <div *ngSwitchCase="'home'">
              <app-home></app-home>
            </div>  
            <div *ngSwitchCase="'course'"><app-courses></app-courses></div>  
            <div *ngSwitchDefault>Default Option</div>  
          </div>  

          <div [@changeDisplay]="notificationShow" *ngIf="notificationShow; else notShow">
                  <app-notification (messageEvent)="receiveChange($event)"></app-notification>
            </div>
            
            <ng-template  #notShow>
              <div class="col-1">
                  <button (click)="changedDisplayNotification()"><mat-icon mat-list-icon>notifications_active</mat-icon></button>

              </div>
            </ng-template>

         
        </div>
         
      </div>
     
    
    </div>
  
  </mat-drawer-container>