
<mat-drawer-container [ngClass]="clasMenu" autosize class="h-100">

  <img id="background-img" src="../../../../assets/images/background.png" alt="">
  
    <mat-drawer #drawer class="menu-nav" [ngClass]="sidenavClass" mode="side" >

    <div id="showButton" *ngIf="showHomeButton" class="row mb-4 px-2 home-button">
      <div class="col-12" (click)="changeBlock('home')">
        <div>
          <img class="image-fluid" src="./assets/images/logo.svg" alt="">
        </div>
      </div>
    </div>

    <div class="row" id="user-information">
      <div class="col-12 container-icon">

        <div class=" user-image-container text-center mb-2">

          <img class="image-fluid circle-user" src="./assets/images/teacher.jpg" alt="">

        </div>
        <p>Marta Lopez</p>

      </div>
    </div>
    <mat-list>
      <mat-list-item class="button-menu-container" id="responsivehomeButton">

        <button class="button-menu mb-2" mat-button color (click)="changeBlock('home');notNotification()">

          <img width="50px" src="./assets/images/logo-reduced.svg" alt="">
        </button>


      </mat-list-item>

      <mat-list-item class="button-menu-container">
        <button class="button-menu" [ngClass]="{'option-selected': blockDinamicActually=='course'}" mat-button color
          (click)="changeBlock('course');notNotification()">

          <img class="icon-svg" src="./assets/images/user.svg" alt="">
          <span>Cursos</span>
        </button>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item class="button-menu-container">
        <button [ngClass]="{'option-selected': blockDinamicActually=='homework'}" class="button-menu" mat-button color
          (click)="changeBlock('homework');notNotification()" [currentNotification]="currentNotification">

          <img class="icon-svg" src="./assets/images/tareas.svg" alt="">

          <span class="name-button">Tareas</span>
        </button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="button-menu-container">
        <button [ngClass]="{'option-selected': blockDinamicActually=='grade'}" class="button-menu" mat-button color
          (click)="changeBlock('grade');notNotification()">
          <img class="icon-svg" src="./assets/images/boletin.svg" alt="">

          <span>Notas</span>
        </button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="button-menu-container">
        <button [ngClass]="{'option-selected': blockDinamicActually=='bulletin'}" class="button-menu" mat-button color
          (click)="changeBlock('bulletin');notNotification()">

          <img class="icon-svg" src="./assets/images/notes.svg" alt="">

          <span>Boletin</span>
        </button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="button-menu-container">
        <button [ngClass]="{'option-selected': blockDinamicActually=='asistance'}" class="button-menu" mat-button color
          (click)="changeBlock('asistance');notNotification()">

            <!-- <i class="fa fa-line-chart menu-icon" aria-hidden="true"></i> -->
            <img class="icon-svg" src="./assets/images/hand.svg" alt="">
            <span>Presentes</span>
          </button></mat-list-item>
      
      </mat-list>
    </mat-drawer>
  
    <div class="sidenav-content" >
      <div class="container">
        <div class="row">
          <div class="col-1" style="background-color: transparent;"></div> 
  

          <div [ngClass]="dinamicDisplay" (mouseover)="hideNotificaction()" [ngSwitch]="blockDinamicActually">  
            <div *ngSwitchCase="'home'">
              <app-home></app-home>
            </div>  
            <div *ngSwitchCase="'course'"><app-courses></app-courses></div>  
            <div *ngSwitchCase="'homework'"><app-homework [isNotification]="isNotification" [currentNotification]="currentNotification"></app-homework></div>  
            <div *ngSwitchCase="'grade'"><app-grades></app-grades></div>  
            <div *ngSwitchCase="'asistance'"><app-asistance></app-asistance></div>  
            <div *ngSwitchCase="'bulletin'"><app-bulletins></app-bulletins></div>  




            <div *ngSwitchDefault>Default Option</div></div>  

          <div [@changeDisplay]="notificationShow" *ngIf="notificationShow; else notShow">
                  <app-notification (messageEvent)="receiveChange($event)" (openNotification)="receiveNotification($event)" (notificationNumber)="receiveNotificationsNumber($event)"></app-notification>
            </div>
            
            <ng-template  #notShow>
              <div class="col-1 button-notification">
                  <button id="notification-button"  mat-mini-fab color="primary" [matBadge]="numberNotifications" matBadgeColor="warn" (click)="changedDisplayNotification()">
                    
                    <mat-icon  mat-list-icon>notifications_active</mat-icon></button>
              </div>
            </ng-template>


        <ng-template #notShow>
          <div class="col-1 button-notification">
            <button id="notification-button" mat-mini-fab color="primary" [matBadge]="numberNotifications"
              matBadgeColor="warn" (click)="changedDisplayNotification()">

              <mat-icon mat-list-icon>notifications_active</mat-icon>
            </button>
          </div>
        </ng-template>


      </div>

    </div>


  </div>

</mat-drawer-container>