.container{
   /* background-color: #54c05ac7;*/
    width: 100%;
    background-color: #fff;
    border-left: solid 1px rgba(0,0,0,.12);
    height: 722px;

}
.mat-list-icon {
    color:rgba(0,0,0,.87)
}

.mat-line{
    font-size: 12px!important;
}
.mat-list-base{
    background-color: #fff;
    width: 115%;
    margin-left: -14px

}

