
@import '../../../stylings/color-pallete';


.mat-list-icon {
    color:rgba(0,0,0,.87)
}

.mat-line{
    font-size: 12px!important;
}
.mat-list-base{
    background-color: #fff;
    width: 115%;
    margin-left: -14px

}

//Estilos de la barra lateral derecha
.overflow{
    position: unset !important;
    overflow-y: scroll;
 }

.notification-nav
{
    background-color: $custom-blue;
    border-radius: 10px 0 0 10px;
    box-shadow: -12px 1px 20px 0px rgba(0,0,0,0.2);
    position: fixed;
    margin-right: 0;
    color: white;
    
}


.mat-list
  {
    background-color: transparent

  }

