@import "../../../stylings/color-pallete";

.svg-content svg {
  width: 40px;
  margin-left: 1em;
}

.svg-content {
  cursor: pointer;
}

#toPdf {
  background-color: blue !important;
}

.pdf-content {
  width: 21cm;
  height: 29.7cm;
  margin: 1cm auto;
  background-color: blue;
}

@media screen and (max-width: 800px) {
  .pdf-content {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 600px) {
  .pdf-content {
    transform: scale(0.6);
  }
}

@page {
  size: A4;
  margin: 0;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.action-item {
  width: 50px;
  height: 50px;
  padding: 0.5em;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.action-item:hover {
  background-color: $custom-blue-glass;
}

::ng-deep .mat-menu-content:not(:empty) {
  background-color: $custom-blue-glass !important;
  color: whitesmoke !important;
}

.report-option {
  color: whitesmoke;
  font-weight: 400;
}

::ng-deep .action-button:focus {
  outline: none !important;
}

::ng-deep .option-icon {
  transition: 0.5s ease-in-out;
}

::ng-deep .action-button:focus .option-icon {
  transform: scale(1.3);
  filter: saturate(2);
}

::ng-deep .mat-form-field {
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
}

.svg-content svg {
  width: 40px;
  margin-left: 1em;
}

.cls-1 {
  fill: #9acd8d;
  transition: 0.5s ease-in-out;
}

.cls-1.less {
  fill: red;
}
#vertical.cls-1 {
  transition: 0.5s ease-in-out;
  transform-origin: center;
}

#vertical.cls-1.less {
  transform: rotate(90deg);
}

#horizontal.cls-1.less {
  opacity: 0;
}

