<div class="container-fluid">

  <app-options-menu [currentOption]="nameComponent"></app-options-menu>

  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="Curso 3B">

      <app-student-list></app-student-list>
      <app-load-dashboard [dashBoardsProperties]="dashBoardsProperties"></app-load-dashboard>
    </mat-tab>
    <mat-tab label="Curso 2A">
      <app-student-list></app-student-list>
      <app-load-dashboard [dashBoardsProperties]="dashBoardsProperties1"></app-load-dashboard>
    </mat-tab>
    <mat-tab label="Curso 5C">
      <app-student-list></app-student-list>
      <app-load-dashboard [dashBoardsProperties]="dashBoardsProperties2"></app-load-dashboard>
    </mat-tab>
    <mat-tab label="Curso 2C">
      <app-student-list></app-student-list>
      <app-load-dashboard [dashBoardsProperties]="dashBoardsProperties2"></app-load-dashboard>
    </mat-tab>
    <mat-tab label="Curso 5D">
      <app-student-list></app-student-list>
      <app-load-dashboard [dashBoardsProperties]="dashBoardsProperties2"></app-load-dashboard>
    </mat-tab>
    <mat-tab label="Curso 5A">
      <app-student-list></app-student-list>
      <app-load-dashboard [dashBoardsProperties]="dashBoardsProperties2"></app-load-dashboard>
    </mat-tab>
    <mat-tab label="Curso 5B">
      <app-student-list></app-student-list>
      <app-load-dashboard [dashBoardsProperties]="dashBoardsProperties2"></app-load-dashboard>
    </mat-tab>
    <mat-tab label="Curso 4A">
      <app-student-list></app-student-list>
      <app-load-dashboard [dashBoardsProperties]="dashBoardsProperties2"></app-load-dashboard>
    </mat-tab>
  </mat-tab-group>

</div>