.container{
    max-width: 100%;
  }
  .dashboard{
    height:105px;
    width: 79%;
    min-width: 217px;
  }
  .mat-tab-group
  {
    height: 800px;
  }
  ::ng-deep .mat-tab-body-content, .mat-tab-body,.mat-tab-body-wrapper{
    height: 750px !important;
  }
  // ::ng-deep .mat-tab-body{
  //     height: 590px!important;
  // }
  ::ng-deep .mat-tab-label{
    min-width:370px!important;
}