<div class="container-fluid">

  <div id="buttonsTab" class="row mt-4 mb-4">
    <div class="col-lg-6 col-md-2 col-8">
      <h5>Cursos</h5>


    </div>

    <div class="col-lg-6 col-md-10 col-4 text-center">

    </div>
  </div>

  <app-options-menu [currentOption]="nameComponent"></app-options-menu>

  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="Curso 3B">

      <app-students></app-students>
    </mat-tab>
    <mat-tab label="Curso 2A">
      <app-students></app-students>
    </mat-tab>
    <mat-tab label="Curso 5C">
      <app-students></app-students>
    </mat-tab>
    <mat-tab label="Curso 2C">
      <app-students></app-students>
    </mat-tab>
    <mat-tab label="Curso 5D">
      <app-students></app-students>
    </mat-tab>
    <mat-tab label="Curso 5A">
      <app-students></app-students>
    </mat-tab>
    <mat-tab label="Curso 5B">
      <app-students></app-students>
    </mat-tab>
    <mat-tab label="Curso 4A">
      <app-students></app-students>
    </mat-tab>
  </mat-tab-group>

</div>