<div class="container" style="margin-top:3em;  color: white;">
  <div class="row">
    <div class="col-12">
      
      <form (ngSubmit)="submitForm()">
        <div class="row form-group">
          <div class="col-12 form-group">
          <label for="description">Descripcion de la nota</label>
          <textarea type="text" name="description" id="" class="form-control" placeholder="Ingrese Descripcion..." ></textarea>
          <small id="helpId" class="text-muted">Help text</small>
        </div>
      </div>

      <div class="row form-group">

        <div class="col-md-6 col-12 form-group">
          <label for="course">Curso</label>
          <select type="text" name="course" id="" class="form-control">
            <option value="default">Seleccione el Curso...</option>
            <option value="2A">2A</option>
            <option value="3B">3B</option>
            <option value="2C">2C</option>
            <!-- <option *ngFor="let course of courses">Implementar</option> -->

          </select>
          <small id="helpId" class="text-muted">Help text</small>
        </div>

        <div class="col-md-6 col-12 form-group">
          <label for="matter">Materia</label>
          <select type="text" name="matter" id="" class="form-control">
            <option value="default">Seleccione la Materia...</option>
            <option value="2A">Matematicas</option>
            <option value="3B">Geografia</option>
            <option value="2C">Historia</option>
            <!-- <option *ngFor="let matter of matters">Implementar</option> -->

          </select>
          <small id="helpId" class="text-muted">Help text</small>
        </div>
      </div>

      <div class="row form-group">
          <div class="col-md-6 col-12 form-group">
          <label for="homework">Tarea</label>
          <select type="text" name="homework" id="" class="form-control">
            <option value="default">Seleccione la Tarea...</option>
            <option value="2A">T00001</option>
            <option value="3B">T00002</option>
            <option value="2C">T00003</option>
            <!-- <option *ngFor="let matter of matters">Implementar</option> -->

          </select>
          <small id="helpId" class="text-muted">Help text</small>
        </div>

        <div class="col-md-6 col-12 form-group">
          <label for="description">Descripcion de la tarea</label>
          <textarea type="text" name="description" id="" class="form-control" placeholder="Ingrese Descripcion..." ></textarea>
          <small id="helpId" class="text-muted">Help text</small>
        </div>

      </div>
        

      
      
    </form>
    
          </div>
    </div>
  </div>
