
::ng-deep .mat-paginator-page-size.ng-star-inserted{
    display: none !important;
  }

  .reload-button:hover{
    transform: rotate(360deg);
    transform-origin: center center;
   // animation: twist 2s linear 0s infinite reverse
  }

  @keyframes twist{
    from
    {
      transform: rotate(0);
    }

    to{
      transform: rotate(360deg);
    }
  }

  svg{
    width: 50%;
  }

  path
  {
    transform-origin: center center;
    animation: dashOffset 6s ease-in-out 1.5s , showLogo 1.5s ease-in-out 6.5s;
    animation-fill-mode: forwards;
    
    stroke-dasharray: 852;
    stroke-dashoffset: -592;
    stroke-width: 1px;
    stroke: #9acd8dc5;
    fill-opacity: 0;

  }

  circle, ellipse{
    fill-opacity: 0;
    animation: showLogo 1.5s ease-in-out 7.5s forwards;
  }

  @keyframes dashOffset
  {
    from{
      stroke-dashoffset: -592;
    }

    to{stroke-dashoffset: 0;}
  }

  @keyframes showLogo{
   
    from{
      fill-opacity: 0;
    }

    to{fill-opacity: 1}
    

  }

  

  @keyframes clipPath
  {
    from{
      clip-path: circle(0%);
    }

    to{clip-path: circle(100%);}
  }

  .button-action:hover{
    transform: none;
  }

  .accept-button,.cancel-button,.reload-button{
    position: absolute;
    display: inline-block;
    background-color: transparent;
    outline: none;
    border: none;
    text-decoration: none;
  }


  .accept-button
  {
    transform: translate(0px) scale(0);
    animation-name: showEntranceleft;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    transform: translate(-50px) scale(1);
    
  }

  .cancel-button{
    transform: translate(0px) scale(0);
    animation-name: showEntranceright;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    transform: translate(50px) scale(1);
    
  }

  .option-box{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
  }

  @keyframes showEntranceleft
  {
    from{
      transform: translate(0) scale(0); 
    }

    to{
      transform: translate(-50px) scale(1);
    }

  }

  @keyframes showEntranceright
  {
    from{
      transform: translate(0) scale(0); 
    }

    to{
      transform: translate(50px) scale(1);
    }

  }

  @keyframes scaleReload{
    from{
      transform: scale(0); 
    }

    to{
      transform: scale(1);
    }
  }