@import '../../../stylings/color-pallete.scss';

#gradesMenu
{
   
    background-color:$custom-blue-glass;
    padding: 1em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    box-shadow: 6px 6px 12px 3px rgba(0, 0, 0, 0.247);
    color: white;
}

#gradesMenu h5{
margin: 0;
}

.button-menu{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 1em;
}

#search-icon,#edit-icon,#trash-icon,#add-icon
{
    position: relative;
    margin: 1em;

}

#search-icon:before,#edit-icon:before,#trash-icon:before,#add-icon:before
{
  position: absolute;
 
  content: "Buscar";
  bottom: -15px;
  left: 10px;
  margin: auto;
  opacity: 0;
  color: white;
  margin:auto;
  transition: 0.5s ease-in-out;
  
}
#edit-icon:before{
    content: "Editar";
}
#trash-icon:before{
    content: "Eliminar";
    left: 0px;

}



#add-icon:before{
    content: "Añadir";
}
#search-icon:hover::before,#edit-icon:hover::before,#trash-icon:hover::before,#add-icon:hover::before
{
    opacity: 1;

}

.button-menu img
{
    transition: 0.5s ease-in-out;
    
    
}

.button-menu:hover img{
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.473))
}

.button-menu:hover .trash-icon{
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 2px rgba(255, 0, 0, 0.568))
}