/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "../src/app/stylings/color-pallete.scss";
@import "../src/app/stylings/custom-fonts.scss";

html, body { height: 100%; }
body { margin: 0;
}

 *{
    font-family: 'TenorSans', sans-serif;
    font-size: 0.96rem;
}

//alto del 
tr.mat-row, tr.mat-footer-row
{
  height: 28px !important;
 
}

.form-control{
  width: 95%;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.61);
  border:0;
  border-bottom: 2px solid black;
  text-decoration: none;
  outline: none;
  
}

.form-control:focus{
  outline: 0 none;
  transition: 0.5s ease-in-out;
  border-bottom: 2px solid $green;
  box-shadow: none;

 
}

textarea{
  outline: 0;
  box-shadow: none;
}

#background-img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
  width: 100%
}
.mat-tab-header
{
  border-radius: 1em 1em 0 0 ;
  background-color: $blue-B;
}

.mat-list-base .mat-subheader{
  color: white;
}



.mat-tab-label{
  color: white;
  font-weight: bolder;
  height: 35px !important;
}

.mat-tab-label-content{

  font-size: 0.85em !important;
}

.mat-tab-header{
  margin-bottom: 1em;

}

@media (max-width: 1260px)
{
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
  padding-right: 0;
  padding-left: 0;

  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
    padding-left: 0;
  }
}

#column1,#column2,#column3,#column4,#column5,#column6{
  width: 300px;
}

.mat-list-base
{
  margin-left: 2px !important;
}

::ng-deep .mat-focus-indicator{
  width: 100%;
}

}


.mat-tab-group
{
  border-radius: 1.5em;
  box-shadow: 0px 12px 20px 2px rgba(0, 0, 0, 0.219);
  background-color: rgba(255, 255, 255, 0.747);
  
}

::ng-deep .mat-tab-body.mat-tab-group::-webkit-scrollbar-thumb{
  background-color: blue;
}

.mat-card.mat-focus-indicator
{
  border-radius: 0.7em;
  box-shadow: 0px 12px 20px 2px rgba(0, 0, 0, 0.219);
}

/* Cambia el color de los toogles activos */
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
  background-color:$green;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
  background-color:#9acd8d91;
}


//Estilos de los botones de accion

.button-action{
  background-color: transparent;
  outline: none;
  border: none;
  padding: 1em;
  transition: 0.5s ease-in-out;
}

.button-action:disabled{
  filter: grayscale(3);
  cursor: not-allowed;
}

.button-action:enabled:hover{
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.473))
}

#edit-icon,#trash-icon
{
  position: relative;
  

}

#search-icon:hover img,#edit-icon:hover img,#add-icon:hover img{
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.473))
}

#trash-icon:hover img{
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 2px rgba(255, 0, 0, 1)) hue-rotate(247 deg);
  -webkit-filter:  drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.473) ) hue-rotate(247deg) saturate(6);

  
}

#buttonsTab
{
   
    background-color:$custom-blue-glass;
    padding: 0.4em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    box-shadow: 6px 6px 12px 3px rgba(0, 0, 0, 0.247);
    color: white;
    height: 60px;
}

#buttonsTab h5{
margin: 0;
}

//Fin de los estilos de

//Lineas de prueba

  .hola
  {
    border: none !important;
    background: transparent;
    box-shadow: none;
    padding: 1em;
    transition: 0.5s ease;
  }

  .hola:disabled
  {
   opacity: 1; 
   color: black;
   outline: none !important;
   appearance: none;
  }

  

  .hola:focus{
    outline: none;
  }

  