

<div>
  <div class="container-fluid">

        <div id="buttonsTab" class="row mt-4 mb-4">
                <div class="col-lg-6 col-md-2 col-8">
                  <h5>Cursos</h5>
               
              
                </div>
              
                <div class="col-lg-6 col-md-10 col-4 text-center">
                <button id="add-icon" class="button-menu" (click)="openDialog('Agregar nueva nota'); appList.refreshTable()" disabled >
            
                <img  width="20px" src="./assets/images/plus.svg" alt="">
                </button>
                </div>
              </div>
   
    
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
<mat-tab label="Curso 3B">

        <app-report-card-list #appList></app-report-card-list>
  
</mat-tab>
<mat-tab label="Curso 2A">
        <app-report-card-list ></app-report-card-list>
</mat-tab>
<mat-tab label="Curso 5C">
        <app-report-card-list></app-report-card-list>
</mat-tab>
<mat-tab label="Curso 2C">
        <app-report-card-list></app-report-card-list>
</mat-tab>
<mat-tab label="Curso 5D">
        <app-report-card-list></app-report-card-list>
</mat-tab>
<mat-tab label="Curso 5A">
        <app-report-card-list></app-report-card-list>
</mat-tab>
<mat-tab label="Curso 5B">
        <app-report-card-list></app-report-card-list>
</mat-tab>
<mat-tab label="Curso 4A">
        <app-report-card-list></app-report-card-list>
</mat-tab>
</mat-tab-group>

</div>


</div>


